@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Vidaloka&display=swap');

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
}

.social-media {
    display: none;
    max-width: 1200px;
    margin: auto;
}

.social-media a img {
    height: 30px;
    margin: 5px;
}

.burger-meny-icon {
    cursor: pointer;
}

.burger-meny-icon div div {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 4px 0;

}

.logo-and-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.banner nav {
    display: none;
}

.banner nav a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    display: flex;
    align-items: center;
}

.banner nav a:hover {
    color: #000;
}

.banner {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/header-banner-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.header-logo .logo {
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    margin-top: 10px;
}

.header-logo p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.burger-meny-icon {
    display: flex;
    align-items: center;
}

.banner-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}

.banner-header h1 {
    text-align: center;
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 48px;
    font-weight: lighter;
}

.banner-header p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
}

.burger-meny {
    display: none;
}

.burger-meny.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: #3F3F3F;
}

.back-button {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.logo-and-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.burger-meny nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-meny nav a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

.burger-meny nav a:hover {
    color: #000;
}

.burger-social-media {
    display: flex;
    justify-content: center;
}

.burger-social-media a img {
    height: 30px;
    margin: 10px;
}

@media (min-width: 990px) {
    .social-media {
        display: flex;
        justify-content: flex-end;
    }

    .burger-meny-icon {
        display: none;
    }

    .banner nav {
        display: flex;
    }
}

.about-us {
    max-width: 1200px;
    margin: auto;
}

.about-us h2 {
    text-align: center;
    color: #000;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.about-us p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.services {
    background-image: url('../img/services-bg.svg');
    background-position: center;
    background-size: cover;
}

.services-title h2{
    text-align: center;
    color: #000;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.services-title p {
    color: #857F7F;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.our-services {
    height: 490px;
    margin: 20px 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.our-services h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

.our-services p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    opacity: 1;
}

.services-list .decoration{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-decoration-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

.services-list .floral-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-floral-design-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

.services-list .events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-events-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

@media(min-width: 770px) {
    .services-list {
        display: flex;       
        flex-wrap: wrap;
        justify-content: center;    
    }

    .our-services {
        width: 40%;
        margin: 20px;
    }
}

@media(min-width: 990px) {
    .our-services {
        width: 300px;
                
    }

    .our-services p{
        opacity: 0;
        transition: 0.5s ;
    }
   
}