@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Vidaloka&display=swap');

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
    padding: 0;
    margin: 0;
}

.social-media {
    display: none;
    max-width: 1200px;
    margin: auto;
}

.social-media a img {
    height: 30px;
    margin: 5px;
}

.burger-meny-icon {
    cursor: pointer;
}

.burger-meny-icon div div {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 4px 0;

}

.logo-and-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.banner nav {
    display: none;
}

.banner nav a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    display: flex;
    align-items: center;
}

.banner nav a:hover {
    color: #000;
}

.banner {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/header-banner-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.header-logo .logo {
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    margin-top: 10px;
}

.header-logo p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.burger-meny-icon {
    display: flex;
    align-items: center;
}

.banner-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}

.banner-header h1 {
    text-align: center;
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 48px;
    font-weight: lighter;
}

.banner-header p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
}

.burger-meny {
    display: none;
}

.burger-meny.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: #3F3F3F;
}

.back-button {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.logo-and-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.burger-meny nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-meny nav a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

.burger-meny nav a:hover {
    color: #000;
}

.burger-social-media {
    display: flex;
    justify-content: center;
}

.burger-social-media a img {
    height: 30px;
    margin: 10px;
}

@media (min-width: 990px) {
    .social-media {
        display: flex;
        justify-content: flex-end;
    }

    .burger-meny-icon {
        display: none;
    }

    .banner nav {
        display: flex;
    }
}

.about-us {
    max-width: 1200px;
    margin: auto;
}

.about-us h2 {
    text-align: center;
    color: #000;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.about-us p {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.services {
    background-image: url('../img/services-bg.svg');
    background-position: center;
    background-size: cover;
}

.services-title h2{
    text-align: center;
    color: #000;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.services-title p {
    color: #857F7F;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding: 15px;
    text-align: center;
    margin: 20px;
}

.our-services {
    height: 490px;
    margin: 20px 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.our-services h3{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

.our-services p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
    opacity: 1;
}

.services-list .decoration{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-decoration-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

.services-list .floral-design {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-floral-design-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

.services-list .events {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/services-events-bg.jpeg');
    background-size: cover;
    background-position:  center;
}

@media(min-width: 770px) {
    .services-list {
        display: flex;       
        flex-wrap: wrap;
        justify-content: center;    
    }

    .our-services {
        width: 40%;
        margin: 20px;
    }
}

@media(min-width: 990px) {
    .our-services {
        width: 300px;
                
    }

    .our-services p{
        opacity: 0;
        transition: 0.5s ;
    }
   
}

.events-we-serve {
    max-width: 1200px;
    margin: auto;
}

.events-we-serve-title h2{
    text-align: center;
    color: #000;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.events-we-serve-blocks {
    display: grid;
}

.events-we-serve-blocks div{
    height: 140px;
    background-size: cover;
    background-position: center;
    margin: 15px 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.events-we-serve-blocks div p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

.events-we-serve-blocks .weddings {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-weddings.jpeg);
}

.events-we-serve-blocks .corporate {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-corporate.jpg);
}

.events-we-serve-blocks .funerals {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-funerals.jpg);
}

.events-we-serve-blocks .hotels {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-hotels.jpeg);
}

.events-we-serve-blocks .parties {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-parties.jpg);
}

.events-we-serve-blocks .sports {
    background-image: linear-gradient(rgba(223, 121, 148, 0.8), rgba(223, 121, 148, 0.8)), url(../img/events-we-serve-sports.jpg);
}

@media( min-width: 770px) {
    .events-we-serve-blocks {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .events-we-serve-blocks div {
        height: 170px;
        margin: 10px;
    }
}

.our-portfolio {
    background: #F3F1F0;
    padding: 35px;
}

.our-portfolio h2 {
    text-align: center;
    color: #3F3F3F;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px;
}

.our-portfolio-carousel {
    max-width: 1200px;
    margin: auto;
    
}

.our-portfolio-carousel div {
    width: 100%;
    box-sizing: content-box;
    max-height: 700px;
    
}

.our-portfolio-carousel div img {
    width: 100%;
    max-width: 900px;
    max-height: 600px;
    margin: auto;
}

.our-portfolio-carousel-nav img {
    margin: 10px;
}

.our-portfolio-carousel-nav {
    max-width: 1200px;
    margin: auto;
}

.slick-prev::before,
.slick-next::before {
    color: #BD7689;
    font-size: 30px;
}

.order-flowers {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/order-flowers-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;  
    
}

.order-flowers-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1200px;
    margin: auto;
}

.order-flowers-content h2 {
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    text-align: left;
    padding-top: 60px;
    margin: 10px 20px;
    
}

.order-flowers-content p {
    background: #DE8BA2;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    padding: 15px 20px;
    margin: 60px 0;
    position: relative;
    right: 10px;
}

.order-flowers-content p:hover {
    background: #857F7F;
    transition: all 0.5s;
}

@media (min-width: 770px) {
    .order-flowers-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .order-flowers-content h2 {
        padding-top: 0px;
    }
}

.flowers {
    background: #F3F1F0;
    padding: 20px 0;
}

.flowers h2 {
    text-align: center;
    color: #3f3f3f;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 20px 0;
}

.flowers-list {
    max-width: 1200px;
    margin: auto;
}

.flowers-list-flower {
    margin: 20px;
    max-width: 1200px;

}
.flowers-list-flower img {
    width: 100%;   
}

.flowers-list-flower h3 {
    color: #3f3f3f;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 20px 0;
}

.flowers-list-flower p {
    color: #857F7F;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.flowers-list-flower a {
    background: #DE8BA2;
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.flowers-list-flower a:hover {
    background: #857F7F;
    transition: all 0.5s;    
}

@media(min-width: 770px) {
    .flowers-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(min-width: 990px) {
    .flowers-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.additional-services {
    background: #F3F1F0;
    padding: 20px 0;
}

.additional-services h2 {
    text-align: center;
    color: #3f3f3f;
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 20px 0;
}

.additional-services-list p {
    background: #DE8BA2;
    margin: 30px 20px;
    height: 60px;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 770px) {
    .additional-services-list {
        display: flex;       
        flex-wrap: wrap;
        justify-content: center;   
        max-width: 1200px;
        margin: auto;      
    }

    .additional-services-list p {
        width: 40%;
        height: 100px;
    }
}

@media(min-width: 990px) {
    .additional-services-list p {
        width: 25%;
    }
}

.subscribe {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/subscribe-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 20px;
}

.subscribe-header h2 {
    color: #fff;
    font-family: 'Vidaloka', sans-serif;
    font-size: 48px;
    font-weight: lighter;
    margin: 20px 0;
}

.subscribe-header p {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.subscribe-email-form {
    background: #F3F1F0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 40px 0;
    border-radius: 20px;
}

.subscribe-email, .subscribe-button {
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    padding: 15px;
    background-color: #D9D2CF;
}

.subscribe-button {
    color: #FFF;
    background-color: #DE8BA2;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

@media( min-width: 770px) {
    .subscribe-main {
        display: grid;
        grid-template-columns: 1fr 30%;    
        max-width: 1200px;
        margin: auto;    
    }
}

.instagram {
    background: #F7F3F0;
    padding-top: 20px;
}

.instagram h2 {
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 20px 0;
    color: #3f3f3f;
    text-align: center;
}

.instagram-img p {
    margin: 25px;
}

.instagram-img p img {
    width: 100%;    
}

@media(min-width: 770px) {
    .instagram-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;        
    }
}

@media(min-width: 990px) {
    .instagram-img {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: 1200px;
        margin: auto;
    }
}

.contacts {
    background-image: linear-gradient(rgba(223, 121, 148, 0.5), rgba(223, 121, 148, 0.5)), url(../img/contacts-bg.jpeg);  
    background-position: center;
    background-size: cover;
    padding: 20px;   
}


.contacts-info h2 {
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 20px 0;
    color: #f7f3f0;
}

.contacts-info p {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color: #f7f3f0;
}

.contacts-info div h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
}

.contacts-info iframe {
    width: 100%;
    margin-top: 20px;
    border: none;
}

.contacts-form {
    background-color: #F7F3F0;
    border-radius: 10px;
    padding: 30px 0;
}

.contacts-form form input {
    display: block;
    width: 80%;
    margin: 20px auto;
    background: #E0DDDA;
    border: none;
    padding: 15px;
    border-radius: 20px;
    color: #3F3F3F;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.contacts-form-message {
    height: 150px;    
}

.contacts-form form .contacts-form-button {
    background: #DE8BA2;
    color: #F7F3F0;
    padding: 15px;
    margin-top: 40px;
}

@media( min-width: 770px) {
    .contacts-main {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        max-width: 1200px;
        margin: auto;    
    }

    .contacts-info {
        padding-right: 15px;
        display: block;
        max-width: 600px;
    }  

    .contacts-info iframe {
       height: 200px;
    }
    
    .contacts-form {
        max-width: 600px;
    }
}

footer {
    background-color: #F7F3F0;
    padding: 20px;
}

.footer-nav {
    display: flex;
    flex-direction: column;   
    align-items: center;  
    max-width: 1200px;
    margin: auto;  
}

.footer-nav h2 {
    font-family: 'Vidaloka', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    margin: 40px 0;
    color: #3f3f3f;
}

.footer-nav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.footer-nav nav a  {
    margin: 10px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #3f3f3f;
}

#footer-about-us a {
    font-weight: bold;
}

.footer-social-media .footer-follow-us {
    font-family: 'Raleway', sans-serif;   
    font-size: 24px;
    color: #3f3f3f;
    font-weight: bold;
    text-align: center;
}

.footer-social-media .footer-social-media-nav {
    display: flex;
    flex-direction: row;    
}

.footer-social-media-nav a img {
    height: 30px;    
}

.footer-rights p {
    font-family: 'Raleway', sans-serif;   
    font-size: 12px;
    color: #3f3f3f;
    text-align: center;
    margin: 10px 0;
}

@media (min-width: 770px) {
    .footer-nav {
        flex-direction: row;       
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-nav nav {
        align-items: flex-start;        
    }

    .footer-social-media {
        margin: 30px 0;
    }

    .footer-rights {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }
}